body {
  background-color: darkgrey;
  font-size: 1.5rem;
}
.unorderedList {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  font-weight: bold;
  flex-wrap: wrap;
  /* background-color: black; */
  list-style: none;
}

.listItems {
  color: red;
}
